[Desktop Entry]
Comment[fr]=Récupérez les vidéos de la chaîne Arte
Comment=Get videos from Arte TV channel
Exec=arteFetcher
GenericName=Video fetcher
Icon=arteFetcher
MimeType=image/png;
Categories=AudioVideo;Video;TV;
Name[fr]=Arte Fetcher
Name=Arte Fetcher
StartupNotify=true
Terminal=false
TryExec=arteFetcher
Type=Application
